*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}



.navbar{
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #14106a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#gui{
    position: relative; 
    top: 50px; 
    right: 0;
}


.navbar .title{
    float: left;
    padding: 0 36px;
}

.navbar .title h1{
    color: #ffffff;
    line-height: 50px;
    font-size: 26px;
    letter-spacing: 2px;
}

ul{
    list-style-type: none;
}

.list-item{
    float: right;
    margin-right: 217px;
}

.list-item .item{
    position: relative;
    display: inline-block;
    line-height: 50px;
    margin: 0 20px;
}

.list-item .item a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 0 30px;
}



.list-item > .item:hover > a{
    background-color: #ccc;
    color: #000;
}

.subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 140px;
    background-color: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.subnav .subitem{
    background-color: #333;
    height: 40px;
}

.subnav .subitem a{
    line-height: 40px;
    font-size: 14px;
    padding: 0 25px;
}

.list-item .item:hover .subnav{
    display: block;
} 


.subnav .subitem:hover a{
    background-color: #ccc;
    color: #000;
}
